.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.tape {
	background-color: black;
}

.buy {
	color: orange;
}

.sell {
	color: CornflowerBlue;
}

thead {
	color: white;
}

td {
	padding: .25em;
}

.time {
	color: #505050;
}

body {
	color: white;
	background-color: black;
}

label {
	padding: .5em;
}